<html>
<head>
<meta charset="utf-8">

<title>Elluminet Press</title>

</head>

<body>

<h1>Welcome to Elluminet Press Ltd</h1>


    <p>Elluminet Press, a member of the Independent Book
    Publisher’s Association, is a publisher with more
    than 100 books in print, beautifully bound in either
    hardback or paperback, as well as in electronic formats,
    covering a variety of genres</p>


<p>Here are some of our best sellers:</p>
	
     <table>
        <tr>
           <td>Title</td>
           <td>Price</td>
        </tr>
        <tr>
           <td> {{title}} </td>
           <td> {{price}} </td>
        </tr>

     </table>

</body>
</html>
